{% extends "layout.html" %}
{% block content %}
 <!-- Tab panes -->
<div class="container">
    <div class="tab-content card pt-5" id="myTabContentJust">
      <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">
       <p>Home</p>
      </div>
      <div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">
        <p>Profile</p>
      </div>
      <div class="tab-pane fade" id="contact-just" role="tabpanel" aria-labelledby="contact-tab-just">
       <p>Contact</p>
      </div>
    </div>
</div>
{% endblock %}