{% extends "layout.html" %}
{% block content %}

         <h1 class="text-center  pt-5">Menu</h1>
        <div class="container mt-3"> 
          
            <div class="media border p-3"> 
                <div class="media-left media-top" id="1">
                    <a href="#">
                        <img class="align-self-start mr-3 w-75" src="../static/images/drinkandFood/burger.jpg" alt="Burger" >
                    </a>
                </div>
                          
                <div class="media-body"> 
                    <h3>Burger</h3> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Lorem ipsum dolor...</p>
                    
                </div> 
            </div> 
              
            <div class="media border p-3"> 
                <div class="media-left media-top">
                    <a href="#">
                        <img class="align-self-start mr-3 w-75" src="../static/images/drinkandFood/Food_BeerDrink.jpg" alt="Beer">
                    </a>
                </div>
                          
                <div class="media-body"> 
                    <h3>Beer</h3> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Lorem ipsum dolor...</p>
                    
                </div> 
            </div> 
              

           
            </div>
    

{% endblock %}