{% extends 'layout.html' %}
    <style>
        .gap-10 {
            width:100%;
            height:10px;
        }
        .gap-20 {
            width:100%;
            height:20px;
        }
        .gap-30 {
            width:100%;
            height:30px;
        }

        .rectangle {
            height: 20px;
            width: 500px;
            background-color: #555;
        }
        
    </style>



{% block content %}
    <form id="calculator">
        <fieldset>
            <div class="container mt-3" > 
                        <!-- this div will give a gap of 30px -->
                    <div class="gap-30"></div>

                    <div class="row justify-content-md-center" id="seats">
                        <div class="rectangle align-items-center"  ></div>
                    </div>
                    <div class="container">
                        <h1 class="text-center ">The Screen</h1>
                    </div>
                    <!-- this div will give a gap of 30px -->
                    <div class="gap-30"></div>
                        
                        
                
                    <div class="row justify-content-md-center" id="seats">
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"/> 1</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 2</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 3</label>
                        </div>
                        <div class="form-check-inline">
                            <label>
                            <input type="checkbox"  id="check" name="movie" value="12.00"> 4</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox"  id="check5" name="movie" value="12.00"> 5</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 6</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 7</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox"  id="check" name="movie" value="12.00"> 8</label>
                        </div>
                        <div class="form-check-inline" >
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 9</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check10" name="movie" value="12.00"> 10</label>
                        </div>
                    </div>

                    <div class="row justify-content-md-center" id="seats">
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"/> 1</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 2</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 3</label>
                        </div>
                        <div class="form-check-inline">
                            <label>
                            <input type="checkbox"  id="check" name="movie" value="12.00"> 4</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox"  id="check5" name="movie" value="12.00"> 5</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 6</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 7</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox"  id="check" name="movie" value="12.00"> 8</label>
                        </div>
                        <div class="form-check-inline" >
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 9</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check20" name="movie" value="12.00"> 10</label>
                        </div>
                    </div>
                
                    <!-- this div will give a gap of 30px -->
                        <div class="gap-30"></div>
                    <div class="row justify-content-md-center" id="seats">
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"/> 1</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 2</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 3</label>
                        </div>
                        <div class="form-check-inline">
                            <label>
                            <input type="checkbox"  id="check" name="movie" value="12.00"> 4</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox"  id="check" name="movie" value="12.00"> 5</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 6</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 7</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox"  id="check28" name="movie" value="12.00"> 8</label>
                        </div>
                        
                        
                        
                    </div>
                    <div class="row justify-content-md-center" id="seats">
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"/> 1</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 2</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 3</label>
                        </div>
                        <div class="form-check-inline">
                            <label>
                            <input type="checkbox"  id="check" name="movie" value="12.00"> 4</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox"  id="check" name="movie" value="12.00"> 5</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 6</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 7</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox"  id="check" name="movie" value="12.00"> 8</label>
                        </div>
                        <div class="form-check-inline" >
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 9</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check" name="movie" value="12.00"> 10</label>
                        </div>

                        <div class="form-check-inline">
                            <label>
                            <input type="checkbox" id="check" name="movie" value="12.00" onclick="myFunction()"> 11
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="checkbox" id="check30" name="movie" value="12.00" onclick="myFunction()"> 12</label>
                        </div>
                    
                        
                    </div>
            </div>
        </fieldset>
           <!-- this div will give a gap of 30px -->
           <div class="gap-30"></div>
        <span class="row justify-content-md-center" id="calculatedCost"></span>
        <div class="container">
            
            <a href="final.html" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Next</a>
        </a>
        </div>
    </form>



{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function() { //Wait for DOM to be ready
        //cache DOM references
        var printCost = document.getElementById('calculatedCost');
        var firstFourBars = Array.from(document.getElementsByName('movie')).slice(0, 41);
        var bar5 = document.forms["calculator"].elements["check"];

        document.body.addEventListener('click', calculateTotalCost);
        // helper function for filter
        function isChecked(checkbox) {
            return checkbox.checked;
        }

        function checkboxCount() {
            var count = firstFourBars.filter(isChecked).length;
            /*if (count) {
            count = count * 0.5 + 0.5;
            }*/
            if (bar5.checked) {
            count += 1;
            }
            return count;
        }

        function calculateTotalCost(event) {
            //could conditionally execute based on event.target
            var totalCost = 12.00 * checkboxCount();
            printCost.innerHTML = "total cost: $" + totalCost;
        }

        });

    </script>
