<header>
   {% include "_includes/carousel.html" %}
        <h1 class= "text-center static">Now Playing</h1>
        <hr class="mt-2 mb-5">
        <div class="row text-center text-lg-left">
            <div class="col-lg-3 col-md-4 col-6">
                <a href="movies.html" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="../static/images/Plan_9_Alternative_poster.png" width="200px" height="200px" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="../static/images/thejoker.png" width="200px" height="200px" src="#" alt="">
                    </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" width="200px" height="200px" src="../static/images/Enormity_of_Life_Movie.png" alt="">
                    </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" width="200px" height="200px" src="../static/images/Saigon-to-Dienbien-Fu.png" alt="">
                    </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" width="200px" height="200px" src="../static/images/duck_duck_goose.png" alt="">
                    </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a  href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" width="200px" height="200px" src="../static/images/forbidden_planet.jpg" alt="">
                    </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a  href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" width="200px" height="200px" src="../static/images/heroes_never_fade.png" alt="">
                    </a>
            </div>
        </div>
    </div>
</header>